body{
    margin:0;
    padding:0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .containerTetris{
        --cellSize: 30px;
        --cellBorderSize: 1px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        perspective: 800px;
        *{
            transform-style: preserve-3d;
        }
        table{
            transform: rotatex(0deg);
            border-collapse: collapse;
            tr{
                td{
                    padding: 0;
                    width: var(--cellSize);
                    height: var(--cellSize);
                    background: grey;
                    border: solid var(--cellBorderSize) black;
                    .cubeContainer{
                        position: relative;
                        width: var(--cellSize);
                        height: var(--cellSize);
                        div{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: var(--cellSize);
                            height: var(--cellSize);
                            // background: red;
                            border: solid white 1px;
                        }
                        .frontFace{
                            transform: translateZ(var(--cellSize));
                        }
                        .leftFace{
                            transform-origin: left;
                            transform: rotateY(-90deg);
                        }
                        .rightFace{
                            transform-origin: right;
                            transform: rotateY(90deg);
                        }
                        .upFace{
                            transform-origin: top;
                            transform: rotateX(90deg);
                        }
                        .downFace{
                            transform-origin: bottom;
                            transform: rotateX(-90deg);
                        }
                    }
                }
            }
        }
    }
}